.main_layout_container {
  display: flex;
  flex-direction: column;
}
.menu-items{
  background: var(--yellow);
  color: black;
  flex: auto;
}
.menu-items li{
  font-weight: bold;
}
.menu-items li:hover{
  color: #fff;
}
.nav-container{
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
