.main_layout_container {
  display: flex;
  flex-direction: column;
}
.menu-items{
  background: var(--yellow);
  color: black;
  flex: auto;
}
.menu-items li{
  font-weight: bold;
}
.menu-items li:hover{
  color: #fff;
}
.nav-container{
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 1.5rem;
}
.layout_header {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.ant-collapse {
  display: none !important;
  background: #fff;
  border: none;
}

@media only screen and (max-width: 1200px) {
  .layout_header {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 998px){
  .nav-container{
    background: #fff;
  }
  .nav-container p{
    display: none;
  }
  .ant-collapse{
    width: 100%;
    display: block !important;
  }
  .nav-container .menu-items{
    display: none;
  }
  .ant-collapse-content {
    border: none !important;
  }
  .ant-collapse-item {
    border: none !important;
  }
 
}
